/*--------Broad style changes--------*/
html{
  height: auto;
}
body{
	display: flex;
	flex-direction: column;
	align-items: center;
	
  min-height: 100%;


	overflow-y: scroll;
  overflow-x: hidden;	
	background-color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.3em;
}

p{
	text-align: left;
}

h2{
	text-align:center;
	
	font-size: 1.6em;
	font-weight: 400;
}


/*--------Templates--------*/
.bubble{
	max-width: 97vw;
	
	border-radius: 10%;
	border: 2px solid black;
	overflow: hidden;
}

/*--------About box--------*/
.about{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	order: 1;

	width: 20em;
	height: auto;
	min-width: 30%;
	margin: 2em 1em;
}

.about h2{
	order: 1;

	margin: 0.75em 2em;
}

#profile{
	order: 2;

	width: 8em;
	height: 8em;

	border-radius: 90%;
	border: 1px solid black;
}

.intro{
	display:block;
	order: 3;
	overflow-wrap: break-word;
	margin: 1.5em 3em;
}

/*--------Portfolio box--------*/
.portfolio{
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	justify-content: flex-start;
	order: 2;

	height: auto;
	width: 40em;
	max-width: 70vw;
	padding: 0 2em 2em 2em;
	margin: 2em 2em;

	border-radius: 2em;
}

/*--------Project template--------*/
.project{
	display: flex;
	flex-direction: row;
	flex-grow: 0;
	justify-content: flex-start;
	align-items: center;


	-webkit-transition-duration: 0.75s; /* Safari */
  transition-duration: 0.75s;
	background-color: #dcdddc;
	border-left: 6px solid #63b3b7; 
	border-right: 6px solid #63b3b7; 
	border-radius: 20px;
	outline: 0; 
}

.project:hover{
	background-color: #63b3b7;
	-webkit-transition-duration: 0.75s; /* Safari */
  transition-duration: 0.75s;
}

.project img{
	order: 1;
	
	margin: 20% 2%;
}

.project p{
	order: 2;
}






