/*--------Broad style changes--------*/
body{
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	height: 95em;
}

p{
	font-family: 'Quicksand', sans-serif;
	color: black;
	text-align: left;
	font-size: 1.3em;
}
h2{
	font-family: 'Quicksand', sans-serif;
	text-align:center;
	margin-bottom: 3%;
	font-weight: 400;
	font-size: 2.1em;
}

img.align-center{
	display: block;
	margin: auto;
}


/*--------IDs--------*/
#profile{
	margin: auto;
	border-radius: 90%;
	border: 1px solid black;
	width: 10em;
	height: 10em;
}


/*--------Templates--------*/
.bubble{
	border: 2px solid black;
	max-width: 93vw;
	max-height: 93vw;
	border-radius: 10%;
	overflow: hidden;
}

/*--------About box--------*/
.about{
	width: 32em;
	height: auto;
	order: 1;
	margin: 5% auto;
}

.about p{
	margin: 4% 5% auto 5%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 8%;
}

/*--------Portfolio box--------*/
.portfolio{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-start;
	order: 2;
	margin: 2% 20%;
	padding: 1% 2%;
}

/*--------Project template--------*/
.project{
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: flex-start;
	align-items: center;

	-webkit-transition-duration: 0.75s; /* Safari */
  transition-duration: 0.75s;
	border-left: 6px solid #63b3b7; 
	border-right: 6px solid #63b3b7; 
	border-radius: 20px;
	background-color: #b2b5b3;
	outline: 0; 
}

.project:hover{
	background-color: #63b3b7;
	-webkit-transition-duration: 0.75s; /* Safari */
  transition-duration: 0.75s;
}

.project img{
	order: 1;
	
	margin: 20% 2%;
}

.project p{
	order: 2;
}






